:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Epilogue';
}

body {
  background-color: var(--almost-white);
}

.nav {
  height: 70px;
  width: 90vw;
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
} 

.nav-menu-icon {
  display: none;
}

.nav-content-container {
  margin-left: auto;
  width: 100%;
}

.nav-content {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.nav-links {
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.nav-link-item { 
  position: relative;
}

.nav-link-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  cursor: pointer;
}

.nav-link-text {
  color: var(--medium-gray);
  font-size: 12px;
  cursor: pointer;
}

.nav-link-text:hover {
  color: var(--almost-black);
}

.arrow-icon {
  transition: transform 0.2s ease-in-out;
}

.arrow-icon-up {
  transform: rotate(180deg);
}

.nav-link-wrapper:hover .arrow-icon {
  filter: brightness(0);
}

.nav-dropdown-menu {
  position: absolute;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 10px 40px rgb(206, 206, 206);
  top: calc(100% + 10px); 
  padding: 15px 20px;
}

.menu-1 {
  max-height: 2000px;
  overflow: hidden;
  right: 0;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "icon-1 item-1"
    "icon-2 item-2"
    "icon-3 item-3"
    "icon-4 item-4"; 
  row-gap: 8px;
  column-gap: 8px;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.menu-2 {
  max-height: 2000px;
  width: 110px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  box-sizing: inherit;
  padding: 20px 20px;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.menu-1-collapsed {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  max-height: 0;
  padding: 0 20px;
  overflow: hidden;
}

.menu-2-collapsed {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  max-height: 0;
  padding: 0 20px;
  overflow: hidden;
}

.item {
  font-size: 11px;
  text-align: left;
}

.icon-1, .icon-2, .icon-3, .icon-4 {
  justify-self: center;
}

.item-1, .item-2, .item-3, .item-4 {
  color: var(--medium-gray);
  font-size: 10px;
  align-self: center;
  padding-top: 2px;
  cursor: pointer;
}

.item {
  color: var(--medium-gray);
}

.item:hover,
.item-1:hover,
.item-2:hover,
.item-3:hover,
.item-4:hover {
  color: var(--almost-black);
}

.icon-1 {grid-area: icon-1;}
.icon-2 {grid-area: icon-2;}
.icon-3 {grid-area: icon-3;}
.icon-4 {grid-area: icon-4;}
.item-1 {grid-area: item-1;}
.item-2 {grid-area: item-2;}
.item-3 {grid-area: item-3;}
.item-4 {grid-area: item-4;}

.nav-auth {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  align-items: center;
  gap: 20px;
}

.nav-auth-login, .nav-auth-register {
  font-size: 11px;
  padding: 10px 15px;
  color: var(--medium-gray);  
  cursor: pointer;
}

.nav-auth-login:hover, .nav-auth-register:hover {
  color: var(--almost-black);  
  border-color: var(--almost-black);
}

.nav-auth-register {
  /* need to fix this later */
  border: 2px solid var(--medium-gray);
  border-radius: 10px;
}

.main {
  padding-top: 14vh;
  height: 75vh;
  width: 80vw;
  margin: auto;
  background-image: url('images/image-hero-desktop.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
}

.hero-mobile {
  display: none;
}

.main-content {
  height: 100%;
  padding-left: 30px;
  width: 430px;
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.main-title {
  /* padding-top: 50px; */
  /* padding-bottom: 50px; */
  font-size: 60px; 
  color: var(--almost-black);
}

.main-desc {
  color: var(--medium-gray);
  font-size: 14px;
  width: 370px;
  line-height: 18px;
}

.main-btn {
  font-family: 'Epilogue';
  font-size: 13px;
  background-color: var(--almost-black);
  color: var(--almost-white);
  border: thin solid transparent;
  width: 110px;
  height: 35px;
  border-radius: 15px;
  cursor: pointer;
}

.main-btn:hover {
  background-color: transparent;
  color: var(--almost-black);
  border: thin solid var(--almost-black);
}

.main-clients {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

@media (max-width: 1000px) {

  body {
    width: 100vw;
    /* width: auto; */
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;   
    /* overflow: hidden;  */
  }

  .nav {
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-logo {
    padding-top: 7px;
  }

  .nav-menu-icon {
    display: block;
    z-index: 3;
  }

  .shade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    background-color: var(--almost-black);
  }

  .shade-active {
    opacity: 0.8;
  }

  .nav-content, .nav-links, .nav-auth {
    flex-direction: column;
    z-index: 1;
    align-items: flex-start;
    /* background-color: antiquewhite; */
    background-color: white;
  }

  .nav-content-container {
    position: absolute;
    box-sizing: content-box;
    top: 0;
    right: 0;
    height: calc(100vh - 73px - 20px);
    width: 60vw;
    background-color: white;
    padding: 73px 20px 20px 20px;
    transition: all 0.4s ease-in-out;
  }

  .nav-content {
    position: absolute;
    top: 0;
    right: 0vw;
    height: auto;
    width: 60vw;
    box-sizing: content-box;
    padding: 73px 20px 20px 20px;
    transition: all 0.4s ease-in-out;  
  }

  .nav-hidden {
    opacity: 0;
    padding: 73px 20px 20px 20px;
    transition: all 0.4s ease-in-out;    
  }

  .nav-links {
    margin-left: 0;
  }

  .nav-link-text {
    font-size: 16px;
  }

  .nav-dropdown-menu {
    position: relative;
    box-shadow: none;
    row-gap: 17px;
    column-gap: 12px;
    padding: 20px 0 20px 20px;
  }

  .menu-1-collapsed, .menu-2-collapsed {
    padding: 0px 0px 0px 20px;
  }

  .item, .item-1, .item-2, .item-3, .item-4 {
    font-size: 16px;
  }

  .nav-auth {
    width: 100%;
    align-items: center;
    margin-left: 0;
    align-self: center;    
  }

  .nav-auth-login, .nav-auth-register {
    font-size: 15px;
  }

  .nav-auth-register {
    width: 100%;
    text-align: center;
  }

  .main {
    width: 100vw;
    background-image: none;
    padding: 0;
    margin: 0;
  }

  .hero-mobile {
    display: block;
    width: 100%;
  }

  .main-content {
    margin-top: 50px;
    width: 100%;
    height: auto;
    padding: 0;
    align-items: center;
    gap: 20px;
  }

  .main-title {
    font-size: 37px;
    text-align: center;
  }

  .main-desc {
    width: 77%;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
  }

  .main-btn {
    height: 50px;
    font-size: 16px;
    width: 150px;
  }

  .main-clients {
    display: none;
    width: 100%;
    margin-top: 0;
  }

}